URL_BACKEND=http://localhost:3000
URL_FRONTEND=http://localhost:5173

POSTGRES_USER=twinpin
POSTGRES_PASSWORD=twinpin
POSTGRES_DB=twinpin
DB_HOST=db
DB_PORT=5432

JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRY=1d

VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=your_google_client_id
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
VITE_STRIPE_PUBLIC_KEY=your_stripe_public_key

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_URL=cloudinary://your_api_key:your_api_secret@your_cloud_name

RESEND_API_KEY=re_your_resend_api_key
RESEND_FROM=Twinpin <noreply@yourdomain.com>