URL_BACKEND=http://localhost:3000
URL_FRONTEND=http://localhost:5173

POSTGRES_USER=twinpin
POSTGRES_PASSWORD=twinpin
POSTGRES_DB=twinpin

JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRY=1d

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
